.firstPage {
	width: 100%;
	height:100%;
	position: fixed;
	background-position: center;
	background-size: cover;

	background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-12/1639787080_13-catherineasquithgallery-com-p-rozovii-fon-dlya-klaviaturi-14.jpg);
}
h1 {
	color: white;
	position: absolute;
	width: 829px;
	height: 111px;
	left: 537px;
	top: 359px;
	font-size: 35px;
}
h5 {
	color: white;
	position: relative;
	
	
	left: 865px;
	top: 219px;
	font-size: 35px
}
a {
	color: white;
}
nav {
	position: relative;
	padding-right: 0px;
}