nav {
	position: relative;
	width: 530px;
	height: 24px;
	left: 211px;
	top: 30px;
}

nav a{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: black;
	margin-right: 30px;
}

.main {
	position: absolute;
	width: 100%;
	height: 850px;
	left: 0px;
	top: 100px;

	background: #F3FBF8;

}

.headline {
	position: relative;
	width: 748px;
	height: 90px;
	left: 450px;
	top: 20px;
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 90px;
}

.headline2 {
	position: relative;
	width: 637.01px;
	height: 30px;
	left: 401.49px;
	top: 20px;

	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;

	text-align: center;

	color: #555555;
}

.headline3 {
	position: relative;
	width: 124px;
	height: 30px;
	left: 632px;
	top: 20px;

	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;

	text-align: center;

	color: #222222;
}
